body {
    background-color: #040D12;
    margin: 30px 30px 0 30px;
}

h1 {
    color: #94B4C1;
    font-family: Arial, Helvetica, sans-serif;
}


p {
    color: #F3F4F4;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    color: #F3F4F4;
    text-align: center;
    margin-top: 10rem;
    font-size: 0.875rem;
}

.imgintro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    font-size: 1.25rem;
    border: 3px solid #547792;
    border-radius: 19px;
}

/* image inside intro container */
.imgintro img {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border-color: #94B4C1;
    border-width: 4px;
    border-style: solid;
}
.mainpndiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pdiv {
    display: block;
    flex-shrink: 0;
    margin: 0;
}

.ppimagediv {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thibox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    max-width: 850px;
    margin: 0 auto;
}

.thibox > * {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2.25px solid #547792;
    border-radius: 10px;
    padding: 15px;
    max-width: 50%;
}
.thiboxtitle {
    color: #94B4C1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.thiboxp {
    color: #F3F4F4;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

@media (max-width: 600px ) {
    .imgintro{
        flex-direction: column;
        border-width: 3.2px;
        img{
            width: 15rem;
            height: 15rem;
            border-width: 2.75px;
        }
    }
    
    .namediv {
        font-size: 1.75rem;
    }
    .pdiv {
        font-size: 0.875rem;
    }
    
    h1 {
        font-size: 1.5rem;
    }
    .thibox {
        display: flex;
        max-width: max-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;
    }
    .thibox > * {
        padding: 12px;
    }
    .thiboxtitle {
        font-size: 1.2rem;
    }
    .thiboxp {
        font-size: 0.70rem;
    }
}

@media (max-width: 1024px) and (min-width: 601px) {
    .imgintro{
        flex-direction: column;
        border-width: 3px;
        img{
            width: 20rem;
            height: 20rem;
            border-width: 2.5px;
        }
    }
    .namediv {
        font-size: 2.25rem;
    }
    .pdiv {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    .thibox {
        display: flex;
        width: 601px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;
    }
}

@media (min-width: 1025px) and (max-width: 1920px) {
    .imgintro{
        flex-direction: row;
        border-width: 3px;
        img{
            width: 25rem;
            height: 25rem;
            border-width: 2.5px;
        }
    }

    .mainpndiv {
        align-items: baseline;
    }

    .pdiv {
        font-size: 1.1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .thibox {
        max-width: 1024px;
    }
}