body {
    background-color: rgb(10, 10, 25);
    margin: 30px 30px 0 30px;
}
h1 {
    color: rgb(70, 188, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: rgb(150, 210, 240);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: rgb(190, 210, 220);
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    color: rgb(190, 210, 220);
    text-align:end;
    margin-top: 10rem;
    font-size: 0.875rem;
}

.imgintro{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    font-size: 1.25rem;
    border: 3px solid rgb(70, 188, 255);
    border-radius: 19px;
    img{
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        border-color: rgb(70, 188, 255);
        border-width: 4px;
        border-style: solid;
    }
}

.intro {
    display: flex;
    font-size: 1.25rem;
}

.namediv {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.pdiv {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: left;
    justify-content: center;
}

.ppimagediv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 30px 30px 30px;
}

.second {
    margin-top: 2.5rem;
}

@media (max-width: 600px ) {
    .imgintro{
        flex-direction: column;

        img{
            width: 15rem;
            height: 15rem;
            border-width: 3px;
        }
    }
    .namediv {
        font-size: 1.5rem;
    }
    .pdiv {
        font-size: 0.875rem;
    }
}

@media (max-width: 1024px) and (min-width: 601px) {
    .imgintro{
        flex-direction: column;

        img{
            width: 20rem;
            height: 20rem;
            border-width: 3px;
        }
    }
    .namediv {
        font-size: 2.25rem;
    }
    .pdiv {
        font-size: 1.125rem;
    }
}

@media (min-width: 1025px) and (max-width: 1920px) {
    .imgintro{
        flex-direction: row;

        img{
            width: 25rem;
            height: 25rem;
            border-width: 4px;
        }
    }
    .namediv {
        font-size: 2.2rem;
        align-items: flex-start;
    }
    .pdiv {
        font-size: 1.1rem;
    }
}