body {
    background-color: #040D12;
    margin: 30px 30px 0 30px;
}

h1 {
    color: #94B4C1;
    font-family: Arial, Helvetica, sans-serif;
}


p {
    color: #F3F4F4;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    color: #F3F4F4;
    text-align: end;
    margin-top: 10rem;
    font-size: 0.875rem;
}

.imgintro{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    font-size: 1.25rem;
    border: 3px solid #547792;
    border-radius: 19px;
    img{
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        border-color: #547792;
        border-width: 4px;
        border-style: solid;
    }
}

.intro {
    display: flex;
    font-size: 1.25rem;
}

.namediv {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.pdiv {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: left;
    justify-content: center;
}

.ppimagediv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 30px 30px 30px;
}

.second {
    margin-top: 2.5rem;
    padding-top: 3px;
}


@media (max-width: 600px ) {
    .imgintro{
        flex-direction: column;
        border-width: 3.2px;
        img{
            width: 15rem;
            height: 15rem;
            border-width: 2.75px;
        }
    }
    
    .namediv {
        font-size: 1.75rem;
    }
    .pdiv {
        font-size: 0.875rem;
    }
    
    h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 1024px) and (min-width: 601px) {
    .imgintro{
        flex-direction: column;
        border-width: 3px;
        img{
            width: 20rem;
            height: 20rem;
            border-width: 2.5px;
        }
    }
    .namediv {
        font-size: 2.25rem;
    }
    .pdiv {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 1.75rem;
    }
}

@media (min-width: 1025px) and (max-width: 1920px) {
    .imgintro{
        flex-direction: row;
        border-width: 3px;
        img{
            width: 25rem;
            height: 25rem;
            border-width: 2.5px;
        }
    }
    .namediv {
        font-size: 2.5rem;
        align-items: flex-start;
    }
    .pdiv {
        font-size: 1.1rem;
    }
    h1 {
        font-size: 2rem;
    }
}